.allPage{
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #cce6ff 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #cce6ff 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #cce6ff 100);
  background-image: linear-gradient(bottom, #FFFFFF 0%, #cce6ff 100%);
  width: 1000px;
  height: 900px;
  margin: auto;
  /*align: center;*/
}

.header{
  width: 1000px;
  height: 400px;
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 100px;
}

img.header{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 25px 25px 0px 0px;
}

.welcome{
  font-family: sans-serif;
  font-style: oblique;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
}
.logo{
  float: left;
  max-height: 70px;
  border-radius: 25px 25px 25px 25px;
  padding-bottom: 15px;
}

img.logo{
  object-fit: scale-down;
}

.account{
  float: right;
  max-height: 50px;
  margin-right: 10px;
}

img.account{
  object-fit: scale-down;
}

.cart{
  float: right;
  max-height: 50px;
  margin-right: 10px;
}

img.cart{
  object-fit: scale-down;
}

ul {
  width: 1000px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

div.foot {
  background-color: #333;
  width: 1000px;
  height: 110px;
  text-align: center;
  color: white;
  padding-top: 1px;
  padding-bottom: 2px;
}

div.foot a{
    color: white;
}

.tableGoods{
  width: 1000px;
  border-radius: 25px 25px 25px 25px;
  /*border-style: solid;*/
  border-collapse: collapse;
  border: 1px;
}

td.tableGoods{
  width: 333px;
  height: 200px;
}

img.tableGoods{
  object-fit: scale-down;;
  width: 300px;
  height: 70%;
  border-radius: 25px 25px 25px 25px;
}

p.tableGoods{
  font-size: 20px;
  text-align: center;
  width: 333px;
}
.login{
    padding-left: 30px;
    font-family: "Verdana";
    font-size: 16px;
}

.detail{
    height: 400px;
}
.photoDetail{
    float: left;
    width: 500px;
    padding-left: 10px;
}

div.photoDetail img{
    object-fit: scale-down;
    width: 500px;
}

.descDetail{
    float: right;
    width: 400px;
    padding: 10px;
    font-family: "Verdana";
}

.error{
    font-size: 14px;
    color: red;
    font-family: "Verdana";
    padding-left: 30px;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.tableCart{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

th.tableCart, td.tableCart{
    text-align: left;
    padding: 16px;
}

tr.tableCart:nth-child(even){
    background-color: #f2f2f2;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

img.slideshow-container{
    object-fit: scale-down;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Verdana";
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}